.container {
  display: flex;
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
}

.box {
  margin: auto; /* flex property that v/h center the box */
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}